.App {
  text-align: center;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  background-image: -moz-repeating-linear-gradient(80deg, green, aqua, white);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  padding-block: 10px;
}

@media screen and (min-width:600px) {
  .auth-form-container {
    padding: 10%;
    border: 2px black;
    border-radius: 15px;
    margin: 0.5rem;
  }
  
}

label {
  text-align: center;
  padding: 10px;
}

input {
  text-align: center;
  padding: 10px;
}

button {
  border: 10px black;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  color: black;
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
